<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="dev.drop.models.member.mapper.MemberMapper">

	<select id="mailCheck" parameterType="String" resultType="int">
    	SELECT count(id) FROM member WHERE email = #{email};
    </select>
    
    <insert id="signup">
    	INSERT INTO member(name, email, password, join_date, phone, type)
 		VALUES(#{name}, #{email}, #{password}, now(), #{phone}, #{type});
    </insert>
    
	<select id="getUserList" resultType="dev.drop.models.member.dto.Member">
    	SELECT * FROM member;
    </select>
    
</mapper>