<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<link href="/static/css/member/sign.css" rel="stylesheet" type="text/css">
<head>
	<meta charset="UTF-8">
	<title>RINDROP</title>
	<!-- link inculde -->
	<th:block th:include="fragments/header"></th:block>
	<!-- link inculde -->
	<script src="/static/js/member/signin.js" type="text/javascript" defer></script>
</head>

<body>
	<div class="bg">
		<div class="container sign_container">
			<div class="card sign_card">
				<div class="card-body">
					<h3 style="text-align: center;">로그인</h3><br />
					<form class="form-signin" name="fm" th:action="@{/member/signin}" method="POST" onsubmit="return SigninSubmit();">
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
						<!--
						<span form-signin-heading>회원님 타입을 선택하세요</span>
						<div style="float:right;">
							<input type="radio" id="type1" name="type" value="1">일반 &nbsp;
							<input type="radio" id="type2" name="type" value="2">관리자
						</div>
						<br /><br />
						-->
						<label for="email" class="sr-only">이메일</label>
						<input type="email" name="username" id="email" placeholder="인증받은 이메일" class="form-control"><br />
						<label for="password" class="sr-only">비밀번호</label>
						<input type="password"  autocomplete="false" style="display:none">
						<input type="password" name="password" id="password" placeholder="비밀번호" class="form-control" autocomplete="new-password">
						<br />
						<div style="text-align: center;">
							<button type="submit" id="loginBtn" class="btn btn-lg btn-success btn-block" style="width:100%;"> 로그인</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<th:block th:include="fragments/footer"></th:block>
</html>
