<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.drop.models.invest.mapper.InvestMapper">
	<!-- ***** COMMON  ***** -->
	<!-- 회원 ID 가져오기 -->
	<select id="getMemberId" resultType="int">
		SELECT id FROM member WHERE email = #{userEmail};
	</select>

	<!-- 코인 차감 -->
	<update id="useCoin">
		UPDATE member SET coin = coin - #{numCount} WHERE id = #{member_id}
	</update>

	<!-- 포인트 충전 -->
	<update id="setPoint">
		UPDATE member SET point = point + #{plusPoint}, up_date = now() WHERE id = #{member_id}
	</update>

	<!-- 포인트 내역 -->
	<insert id="setHistory">
		INSERT INTO coin_history(member_id, in_point, in_date)
		VALUES(#{member_id}, #{plusPoint}, now())
	</insert>

	<!-- 코인 내역 -->
	<insert id="history_outCoin">
		INSERT INTO coin_history(member_id, out_coin, in_date)
		VALUES(#{member_id}, #{numCount}, now())
	</insert>
	<!-- ***** COMMON  ***** -->
</mapper>