<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.drop.models.invest.mapper.InvestDropMapper">
    <!-- DROPTOP 추첨번호 저장 -->
    <insert id="dropListSave">
        INSERT INTO droptop_list(member_id, num1, num2, num3, num4, num5, num6, in_date, round, sum, round_id)
        VALUES(#{member_id}, #{saving1}, #{saving2}, #{saving3}, #{saving4}, #{saving5}, #{saving6}, now(), #{round}, #{ranSum}, #{round_id});
    </insert>

    <!-- 중복 추첨 체크 -->
    <select id="dropRoundCheck" resultType="int">
        SELECT COUNT(*) FROM droptop_list WHERE round = #{round} AND member_id = #{member_id};
    </select>

    <!-- 회차별 총 게임수 -->
    <select id="dropRoundCount" resultType="int">
        SELECT count(round_id) FROM droptop_list WHERE round = #{round} AND member_id = #{member_id};
    </select>

    <!-- 모의추첨 번호가져오기 -->
    <select id="dropRoundData" resultType="dev.drop.models.invest.dto.SaveListDTO">
        SELECT * FROM droptop_list WHERE round_id = #{i} AND round = #{round} AND member_id = #{member_id};
    </select>

    <!-- 모의로또 등수 저장 -->
    <insert id="dropRankSave">
        INSERT INTO droptop_result(member_id, round, rank01, rank02, rank03, rank04, rank05, game_total, revenue_total, revenue_after_tax, in_date)
        VALUES(#{member_id}, #{round}, #{rank01}, #{rank02}, #{rank03}, #{rank04}, #{rank05}, #{total}, #{revenue_total}, #{after_tax}, now());
    </insert>

    <!-- 저장된 회차 round_id 갯수 가져오기 -->
    <select id="dropRoundIdCount" resultType="int">
        SELECT count(round_id) FROM droptop_list WHERE round = #{round} AND member_id = #{member_id};
    </select>

    <!-- 결과 저장 확인 -->
    <select id="dropResultCount" resultType="int">
        SELECT count(round) FROM droptop_result WHERE round = #{round} AND member_id = #{member_id}
    </select>

    <!-- 결과값 가져오기 -->
    <select id="dropGetResult" resultType="dev.drop.models.invest.dto.SaveResultDTO">
        SELECT * FROM droptop_result WHERE round = #{round} AND member_id = #{member_id}
    </select>

    <!-- 저장된 결과값 리스트 select -->
    <select id="dropResultList" resultType="dev.drop.models.invest.dto.SaveResultDTO">
        SELECT * FROM droptop_result WHERE member_id = #{member_id} ORDER BY round DESC
    </select>

    <!-- 결과 확인 전 회차 가져오기 -->
    <select id="dropBeforeConfirmList" resultType="Integer">
        SELECT DISTINCT round FROM droptop_list WHERE member_id = ${member_id} AND confirm_result = 0 ORDER BY round DESC
    </select>

    <!-- 컨펌 -->
    <update id="dropConfirm">
        UPDATE droptop_list SET confirm_result = 1, confirm_date = now() WHERE round = ${round} AND member_id = ${member_id};
    </update>

    <!-- 회차별 추첨 번호 리스트 -->
    <select id="dropDetailList" resultType="dev.drop.models.invest.dto.SaveListDTO">
        SELECT * FROM droptop_list WHERE member_id = #{member_id} AND round = #{round}
    </select>

    <!-- 환전 업데이트 -->
    <update id="dropExchangePoint">
        UPDATE droptop_result
        SET exchange_point = ${plusPoint}, exchange_status = 1, exchange_date = now(), up_member = ${member_id}
        WHERE member_id = #{member_id} AND round = #{round}
    </update>

    <!-- 회원 round list -->
    <select id="getRound" resultType="Integer">
        SELECT DISTINCT(round) FROM droptop_list WHERE member_id = #{member_id}
    </select>
</mapper>