<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="/static/css/footer.css" rel="stylesheet" type="text/css">
<footer th:fragment="fragment-footer">
    <!--
    <div class="footer-dark" style="float:left;margin-top:5%;width:100%;">
        <div class="container-fluid">
            <div class="row">
                &lt;!&ndash;
                <div class="col-sm-6 col-md-3 item" style="margin-left: 5%;width: 20%;">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web Service</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item" style="width: 20%;">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text" style="margin-right: 5%;">
                    <h3>Company Name</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                <div class="col item social">
                </div>
                &ndash;&gt;
            </div>
            <p class="copyright">Developer Name xohoon © 2021</p>
        </div>
    </div>
    -->
</footer>
</html>


