<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link href="/static/css/main.css" rel="stylesheet" type="text/css">

<head>
<title>RINDROP</title>
<th:header th:replace="fragments/header"></th:block>
</head>

<body>
	<div class="container">
		<div id="carouselExampleSlidesOnly" class="carousel slide main_img"data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="/static/images/test.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="/static/images/test.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="/static/images/test.jpg" class="d-block w-100" alt="...">
				</div>
			</div>
		</div>
		<div class="main_list">
			<div class="main_list_1 float-start">
				<span>TEST CONTENTS 111 > 상세보기</span>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Handle</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td colspan="2">Larry the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">4</th>
							<td colspan="2">Larry the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">5</th>
							<td colspan="2">Larry the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="main_list_2 float-end">
				<span>TEST CONTENTS 222 > 상세보기</span>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Handle</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td colspan="2">Larry the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">4</th>
							<td colspan="2">Larry the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<th scope="row">5</th>
							<td colspan="2">Larry the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<th:block th:include="fragments/footer"></th:block>
</html>