<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>RINDROP</title>
	<!-- link inculde -->
	<th:block th:include="fragments/header"></th:block>
	<th:block th:include="fragments/invest_common"></th:block>
	<!-- link inculde -->
	<script src="/static/js/invest/droptop.js" type="text/javascript" defer></script>
</head>

<body>
		<div class="cardSet2">
			<div class="card border-secondary mb-3 card2">
				<div class="card-header">타이틀1</div>
				<div class="card-body text-dark">
					<span th:text="${comming_round}"></span><span>회</span>
					<select class="form-select form-select-sm selectBox" aria-label=".form-select-sm example">
						<option selected>방식선택</option>
						<option value="1">방싟1</option>
						<option value="2">바식2</option>
						<option value="3">방식3</option>
					</select>
					<span> >> 방식에 따른 확률 및 다양한 정보 contents</span>
					<input type="hidden" id="whatDrop" value="droptop">
					<input type="hidden" id="numRound" placeholder="회차 입력" th:value="${comming_round}">
					<input type="hidden" id="numCount" value="50" />
					<div class="set_2">
						<span class="input_2">50회 도전</span>
						<input type="button" class="btn btn-warning input_2" id="saveBtn" value="내놔봐">
					</div>
					<div class="returnSuccess" id="ajaxReturn1">결과과 노출됩니다.</div>
				</div>
			</div>
			<div class="card border-secondary mb-3 card2">
				<div class="card-header">타이틀1</div>
				<div class="card-body text-dark">
					<div class="set_3">
						<input type="text" class="form-control input_3" id="rankRound" placeholder="최근?입력?">
						<input type="button" class="btn btn-success input_3" id="rankBtn" value="왼쪽 확인 버튼">
						<input type="button" class="btn btn-success input_3" id="rankBtn" value="나 당 확인 버튼">
					</div>
					<div class="returnSuccess" id="ajaxReturn2">결과과 노출됩니다.</div>
				</div>
			</div>
		</div>
		<div class="wrap-loading display-none">
		    <div><img src="/static/images/e1.gif"></div>
		</div>
	</div>
</body>
<th:block th:include="fragments/footer"></th:block>
</html>