<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>DROPTOP</title>
	<!-- link inculde -->
	<th:block th:include="fragments/header"></th:block>
	<th:block th:include="fragments/invest_common"></th:block>
	<!-- link inculde -->
	<script src="/static/js/invest/droptop.js" type="text/javascript" defer></script>
</head>

<body>
<div class="container common">
	<div class="cardSet2">
		<div class="card border-secondary mb-3 card2">
			<div class="card-header">모의투자 번호 추출</div>
			<div class="card-body text-dark">
				<input type="hidden" id="whatDrop" value="droptop" />
				<input type="hidden" id="numCount" value="10" />
				<div class="set_2"set_2>
					<select id="numRound" class="form-select selectBox input_2" aria-label="Default select">
						<option selected value=0>회차선택</option>
						<option th:each="roundList : ${roundList}"
							th:value="${roundList}"
							th:utext="${roundList}"></option>
					</select>
					<input type="button" class="btn btn-success input_2" id="dropSaveBtn" value="50회 추출">
				</div>
			</div>
		</div>
		<div class="card border-secondary mb-3 card2">
			<div class="card-header">모의투자 결과 확인</div>
			<div class="card-body text-dark">
				<div class="set_3">
					<select id="rankRound" class="form-select selectBox input_2" aria-label="Default select">
						<option selected value=0>회차선택</option>
						<option th:each="dropConfirm : ${dropConfirmList}"
								th:value="${dropConfirm}"
								th:utext="${dropConfirm}"></option>
					</select>
					<input type="button" class="btn btn-success input_2" id="rankBtn" value="당첨 결과 확인">
				</div>
			</div>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">회차</th>
				<th scope="col">게임 수</th>
				<th scope="col">당첨 게임 수</th>
				<th scope="col">총 당첨금</th>
				<th scope="col">확인 날짜</th>
				<th scope="col">상세 보기</th>
				<th scope="col">포인트 충전</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="dropList, num:${dropResultList}">
				<tr>
					<th scope="row"><span th:text="${num.count}"></span></th>
					<td><span th:text="${dropList.round}"></span>회</td>
					<td><span th:text="${dropList.game_total}"></span></td>
					<td><span th:text="${dropList.rank_count}"></span></td>
					<td><span th:text="${dropList.revenue_total}"></span>원</td>
					<td><span th:text="${#strings.substring(dropList.in_date,0,10)}"></span></td>
					<td>
						<button type="button" class="btn btn-outline-success btn-sm"
							data-bs-toggle="modal" data-bs-target="#detailModal"
							th:data-round="${dropList.round}">상세 보기</button>
					</td>
					<td>
						<button type="button" class="btn btn-outline-secondary btn-sm"
							th:if="${dropList.revenue_total != 0} and ${dropList.exchange_status} == 1">정산완료</button>
						<button type="button" class="btn btn-secondary btn-sm"
								th:if="${dropList.revenue_total == 0} and ${dropList.exchange_status} == 0">정산불가</button>
						<button type="button" class="btn btn-success btn-sm"
							th:if="${dropList.revenue_total != 0} and ${dropList.exchange_status} == 0"
							th:onclick="'javascript:exchangeAjax('+${dropList.round}+', '+${dropList.revenue_total}+');'">충전하기</button>
					</td>
				</tr>
			</th:block>
		</tbody>
	</table>
	<div class="wrap-loading display-none">
		<div><img src="/static/images/e1.gif"></div>
	</div>
</div>

</body>
<th:block th:include="fragments/footer"></th:block>
</html>