<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>RINDROP</title>
	<!-- link inculde -->
	<th:block th:include="fragments/header"></th:block>
	<th:block th:include="fragments/invest_common"></th:block>
	<!-- link inculde -->
	<script src="/static/js/invest/imitation.js" type="text/javascript" defer></script>
</head>

<body>
		<div class="cardSet4">
			<div class="card border-secondary mb-3 card4">
				<div class="card-header">타이틀1</div>
				<div class="card-body text-dark">
					<div class="set3">
						<input type="text" id="numRound" class="form-control input_3" placeholder="회차 입력">
						<input type="text" id="numCount" class="form-control input_3" placeholder="갯수 입력"> 
						<input type="button" id="numBtn" class="btn btn-warning input_3" value="추출하기">
					</div>
					<div class="returnSuccess" id="ajaxReturn1">결과</div>
				</div>
			</div>
			<div class="card border-secondary mb-3 card4">
				<div class="card-header">타이틀1</div>
				<div class="card-body text-dark">
					<div class="set2">
						<input type="text" id="rankRound" class="form-control input_2" placeholder="회차 입력">
						<input type="button" id="rankBtn" class="btn btn-success input_2" value="등수 확인">
					</div>
					<div class="returnSuccess" id="ajaxReturn2">결과</div>
				</div>
			</div>
			<div class="card border-secondary mb-3 card4">
				<div class="card-header">타이틀1</div>
				<div class="card-body text-dark">
					<div>
						<input type="button" id="last_save" class="btn btn-info" value="최근회차">
					</div>
					<div class="returnSuccess" id="ajaxReturn3">결과</div>
				</div>
			</div>
			<div class="card border-secondary mb-3 card4">
				<div class="card-header">타이틀1</div>
				<div class="card-body text-dark">
					<div>
						<input type="button" id="all_save" class="btn btn-primary" value="전체 추가">
					</div>
					<div class="returnSuccess" id="ajaxReturn4">결과</div>
				</div>
			</div>
			<div class="wrap-loading display-none">
				<div>
					<img src="/static/images/e1.gif">
				</div>
			</div>
		</div>
	</div>
</body>
<th:block th:include="fragments/footer"></th:block>
</html>