<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>RINDROP</title>
	<!-- link inculde -->
	<th:block th:include="fragments/header"></th:block>
	<th:block th:include="fragments/member_header"></th:block>
	<!-- link inculde -->
	<script src="/static/js/invest/jackpot.js" type="text/javascript" defer></script>
</head>

<body>
		<div class="cardSet2">
			<div class="card border-secondary mb-3 card2">
				<div class="card-header">타이틀1</div>
				<div class="card-body text-dark">
					<span>땡차 차례</span>
					<select class="form-select form-select-sm selectBox" aria-label=".form-select-sm example">
						<option selected>방식선택</option>
						<option value="1">방싟1</option>
						<option value="2">바식2</option>
						<option value="3">방식3</option>
					</select>
					<span> >> 방식에 따른 확률 및 다양한 정보 contents</span>
					<span sec:authentication="name" id="user_email" style="display:none;"></span>
					<input type="hidden" class="form-control" id="numRound" placeholder="회차 입력">
					<div class="set_50">
						<input type="text" class="form-control input_50" id="numCount" placeholder="1-50 사이 숫자를 입력하세요.">
						<input type="button" class="btn btn-warning input_50" id="getBtn" value="내놔봐">
					</div>
					<div class="returnSuccess" id="ajaxReturn1">결과과 노출됩니다.</div>
				</div>
			</div>
			<div class="card border-secondary mb-3 card2">
				<div class="card-header">타이틀1</div>
				<div class="card-body text-dark">
					<div class="set_30">
						<input type="text" class="form-control input_30" id="rankRound" placeholder="최근?입력?">
						<input type="button" class="btn btn-success input_30" id="rankBtn" value="왼쪽 확인 버튼">
						<input type="button" class="btn btn-success input_30" id="rankBtn" value="나 당 확인 버튼">
					</div>
					<div class="returnSuccess" id="ajaxReturn2">결과과 노출됩니다.</div>
				</div>
			</div>
		</div>
		<div class="wrap-loading display-none">
		    <div><img src="/static/images/e1.gif"></div>
		</div>
	</div>
</body>
<th:block th:include="fragments/footer"></th:block>
</html>