<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>RAINDROP</title>
	<!-- link inculde -->
	<th:block th:include="fragments/header"></th:block>
	<th:block th:include="fragments/invest_common"></th:block>
	<!-- link inculde -->
	<script src="/static/js/invest/raindrop.js" type="text/javascript" defer></script>
</head>

<body>
	<div class="container common">
		<div class="cardSet2">
			<div class="card border-secondary mb-3 card2">
				<div class="card-header">이번주 예상번호 받기</div>
				<div class="card-body text-dark">
					<input type="hidden" id="whatDrop" value="raindrop" />
<!--					<input type="hidden" id="numRound" th:value="${comming_round}" />-->
					<input type="hidden" id="numRound" value="987" />
					<div class="set_2">
						<input type="text" class="form-control input_3" id="lastRound" th:value="${comming_round}+'회'" readonly/>
						<input type="text" class="form-control input_3" id="numCount" placeholder="갯수 입력">
						<input type="button" class="btn btn-warning input_3" id="rainSaveBtn" value="번호 받기">
					</div>
				</div>
			</div>
			<div class="card border-secondary mb-3 card2">
				<div class="card-header">당첨 확인</div>
				<div class="card-body text-dark">
					<div class="set_3">
						<select id="rankRound" class="form-select selectBox input_2" aria-label="Default select">
							<option selected value=0>회차선택</option>
							<option th:each="rainConfirm : ${rainBeforeConfirm}"
									th:value="${rainConfirm}"
									th:utext="${rainConfirm}"></option>
						</select>
						<input type="button" class="btn btn-success input_2" id="rankBtn" value="당첨 결과 확인">
					</div>
				</div>
			</div>
		</div>
		<table class="table table-hover">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">회차</th>
				<th scope="col">게임 수</th>
				<th scope="col">당첨금</th>
				<th scope="col">확인 날짜</th>
				<th scope="col">상세 보기</th>
			</tr>
			</thead>
			<tbody>
			<th:block th:each="rainList, num:${rainResultList}">
				<tr>
					<th scope="row"><span th:text="${num.count}"></span></th>
					<td><span th:text="${rainList.round}"></span>회</td>
					<td><span th:text="${rainList.game_total}"></span></td>
					<td><span th:text="${rainList.revenue_total}"></span>원</td>
					<td><span th:text="${#strings.substring(rainList.in_date,0,10)}"></span></td>
					<td>
						<button type="button" class="btn btn-success btn-sm"
								data-bs-toggle="modal" data-bs-target="#detailModal"
								th:data-round="${rainList.round}">상세 보기</button>
					</td>
				</tr>
			</th:block>
			</tbody>
		</table>
		<div class="wrap-loading display-none">
		    <div><img src="/static/images/e1.gif"></div>
		</div>
	</div>
</body>
<th:block th:include="fragments/footer"></th:block>
</html>