<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>RINDROP</title>
	<!-- link inculde -->
	<th:block th:include="fragments/header"></th:block>
	<th:block th:include="fragments/invest_common"></th:block>
	<!-- link inculde -->
	<script src="/static/js/invest/raindrop.js" type="text/javascript" defer></script>
</head>

<body>
		<div class="cardSet2">
			<div class="card border-secondary mb-3 card2">
				<div class="card-header">타이틀1</div>
				<div class="card-body text-dark">
					<span th:text="${comming_round}"></span><span>회</span>
					<select class="form-select form-select-sm selectBox" aria-label=".form-select-sm example">
						<option selected>방식선택</option>
						<option value="1">방싟1</option>
						<option value="2">바식2</option>
						<option value="3">방식3</option>
					</select>
					<span> >> 방식에 따른 확률 및 다양한 정보 contents</span>
					<input type="hidden" id="whatDrop" value="raindrop">
					<!-- 
					<input type="hidden" id="numRound" th:value="${comming_round}">
					 -->
					<input type="hidden" id="numRound" th:value="956">
					<div class="set_2">
						<input type="text" class="form-control input_2" id="numCount" placeholder="갯수 입력">
						<input type="button" class="btn btn-warning input_2" id="saveBtn" value="옆에꺼보기">
					</div>
					<div class="returnSuccess" id="returnList">결과</div>
				</div>
			</div>
			<div class="card border-secondary mb-3 card2">
				<div class="card-header">타이틀1</div>
				<div class="card-body text-dark">
					<div class="set_3">
						<input type="text" class="form-control input_3" id="rankRound" placeholder="다가오는거 픽스">
						<input type="button" class="btn btn-success input_3" id="rankBtn" value="저번주확인">
						<input type="button" class="btn btn-success input_3" id="rankBtn" value="내꺼보러갈랭">
					</div>
					<div class="returnSuccess" id="returnRank">결과</div>
				</div>
			</div>
		</div>
		<div class="wrap-loading display-none">
		    <div><img src="/static/images/e1.gif"></div>
		</div>
	</div>
</body>
<th:block th:include="fragments/footer"></th:block>
</html>