<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.drop.models.invest.mapper.InvestMapper">

	<!-- ***** 모의투자  ***** -->
	
	<!-- 모의로또 등수 저장 -->
	<insert id="saveRanking">
		INSERT INTO test_ranking(round, rank01, rank02, rank03, rank04, rank05, game_total, revenue_total, revenue_after_tax) 
		VALUES(#{round}, #{rank01}, #{rank02}, #{rank03}, #{rank04}, #{rank05}, #{total}, #{revenue_total}, #{after_tax});
	</insert>
	
	<!-- 모의로또 저장 -->
	<insert id="testSaving">
		INSERT INTO test_saving(admin, round, num1, num2, num3, num4, num5, num6, sum, round_id) 
		VALUES(#{admin}, #{round}, 
			#{testNum01}, #{testNum02}, #{testNum03}, #{testNum04}, #{testNum05}, #{testNum06}, #{testSum}, #{round_id});
	</insert>
	
	<!-- 회원 ID 가져오기 -->
	<select id="get_memberId" resultType="int">
		SELECT id FROM member WHERE email = #{user_email};
	</select>
	
	<!-- 회차별 총 게임수 -->
	<select id="gameTotal" resultType="int">
		SELECT count(round_id) FROM test_saving WHERE round = #{round};
	</select>
	
	<!-- 모의추첨 번호가져오기 -->
	<select id="imiData" resultType="dev.drop.models.invest.dto.ImitationDTO">
        SELECT * FROM test_saving WHERE round_id = #{i} AND round = #{round};
    </select>
    
    <!-- 저장된 회차 round_id 갯수 가져오기 -->
    <select id="testIdGet" resultType="int">
    	SELECT count(*) FROM test_saving WHERE round_id AND round = #{round};
    </select>
    
	<!-- ***** 모의투자  ***** -->


	<!-- ***** caseController  ***** -->

	<!-- 회차별 1등번호 저장 -->
	<insert id="save">
		INSERT INTO list(num1, num2, num3, num4, num5, num6, num7, sum) 
		VALUES(#{num1}, #{num2}, #{num3}, #{num4}, #{num5}, #{num6}, #{num7}, #{sum});
	</insert>
	
	<!-- 전체 회차 저장 전 카운트 -->
	<select id="count_list" resultType="int">
		SELECT COUNT(*) FROM list;
	</select>
	
	<!-- 최근회차 저장 되었는지 확인 -->
	<select id="search_last" resultType="int">
		SELECT id FROM list ORDER BY id DESC LIMIT 1;
	</select>
	
	<!-- 저장된 회차별 1등 번호 가져오기 -->
	<select id="dataAll" resultType="dev.drop.models.invest.dto.SaveDTO">
        SELECT * FROM list WHERE id = #{id};
    </select>
    
    <!-- 마지막 회차 저장 위한 id값 -->
    <select id="LastNum" resultType="int">
    	SELECT max(id) FROM list;
    </select>
    
	<!-- i번째 회차 합계 -->
	<select id="getSum" resultType="int">
		SELECT sum FROM list  WHERE id = #{i};
	</select>
	
	<!-- 50단위로 확률 계산 -->
	<insert id="caseSum50">
		INSERT INTO case_sum50(case100, case150, case200, case255, all_round, last_round)
		VALUES(#{case01}, #{case02}, #{case03}, #{case04}, #{all_round}, #{last_round});
	</insert>
	
	<!-- 20단위로 확률 계산 -->
	<insert id="caseSum20">
		INSERT INTO case_sum20(case100, case120, case140, case160, case180, case200, case255, all_round, last_round)
		VALUES(#{case01}, #{case02}, #{case03}, #{case04}, #{case05}, #{case06}, #{case07}, #{all_round}, #{last_round});
	</insert>
	
	<!-- 10단위로 확률 계산 -->
	<insert id="caseSum10">
		INSERT INTO case_sum10(case100, case110, case120, case130, case140, case150, case160, case170, case180, case190, case200, case255
			, all_round, last_round)
		VALUES(#{case01}, #{case02}, #{case03}, #{case04}, #{case05}, #{case06}, #{case07}, #{case08}, #{case09}, #{case10}, #{case11}, #{case12}
			, #{all_round}, #{last_round});
	</insert>
	
	<!-- 지정된 회차별 1등 번호 가져오기 -->
	<select id="decidedRound" resultType="dev.drop.models.invest.dto.SaveDTO">
        SELECT * FROM list WHERE id = #{round};
    </select>
    
	<!-- ***** caseController  ***** -->
	
	
	<!-- ***** 나의투자  ***** -->
	
	<!-- 회원 추첨번호 저장 -->
    <insert id="saving">
		INSERT INTO member_saving(member_id, num1, num2, num3, num4, num5, num6, saveTime, round, Sum, round_id) 
		VALUES(#{member_id}, #{saving1}, #{saving2}, #{saving3}, #{saving4}, #{saving5}, #{saving6}, now(), #{round}, #{ranSum}, #{round_id});
	</insert>
	
	<!-- 저장된 회차 round_id 갯수 가져오기 -->
    <select id="roundIdGet" resultType="int">
    	SELECT count(*) FROM member_saving WHERE round = #{round} AND member_id = #{member_id};
    </select>
    
    <!-- 회차별 총 게임수 -->
	<select id="roundTotal" resultType="int">
		SELECT count(round_id) FROM member_saving WHERE round = #{round} AND member_id = #{member_id};
	</select>
	
	<!-- 모의추첨 번호가져오기 -->
	<select id="roundData" resultType="dev.drop.models.invest.dto.ImitationDTO">
        SELECT * FROM member_saving WHERE round_id = #{i} AND round = #{round} AND member_id = #{member_id};
    </select>
	
	<!-- ***** 나의투자  ***** -->
	
</mapper>