<?xml version="1.0" encoding="UTF-8" ?>
 
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.drop.models.invest.mapper.InvestMapper">

	<!-- ***** RAINDROP  ***** -->
	<!-- RAINDROP 추첨번호 저장 -->
    <insert id="rain_list_saving">
		INSERT INTO raindrop_list(member_id, num1, num2, num3, num4, num5, num6, in_date, round, sum, round_id) 
		VALUES(#{member_id}, #{saving1}, #{saving2}, #{saving3}, #{saving4}, #{saving5}, #{saving6}, now(), #{round}, #{ranSum}, #{round_id});
	</insert>
	
    <!-- 중복 추첨 체크 -->
	<select id="rain_Check" resultType="int">
		SELECT COUNT(*) FROM raindrop_list WHERE round = #{round} AND member_id = #{member_id};
	</select>
	
	<!-- 회차별 총 게임수 -->
	<select id="rain_roundTotal" resultType="int">
		SELECT count(round_id) FROM raindrop_list WHERE round = #{round} AND member_id = #{member_id};
	</select>
	
	<!-- 모의추첨 번호가져오기 -->
	<select id="rain_roundData" resultType="dev.drop.models.invest.dto.SaveListDTO">
        SELECT * FROM raindrop_list WHERE round_id = #{i} AND round = #{round} AND member_id = #{member_id};
    </select>

	<!-- 모의로또 등수 저장 -->
	<insert id="rain_saveRanking">
		INSERT INTO raindrop_result(member_id, round, rank01, rank02, rank03, rank04, rank05, game_total, revenue_total, revenue_after_tax, in_date) 
		VALUES(#{member_id}, #{round}, #{rank01}, #{rank02}, #{rank03}, #{rank04}, #{rank05}, #{total}, #{revenue_total}, #{after_tax}, now());
	</insert>
	
	<!-- 저장된 회차 round_id 갯수 가져오기 -->
    <select id="rain_roundIdGet" resultType="int">
    	SELECT count(*) FROM raindrop_list WHERE round = #{round} AND member_id = #{member_id};
    </select>
    
    <!-- 결과 저장 확인 -->
    <select id="rain_resultCheck" resultType="int">
    	SELECT count(*) FROM raindrop_result WHERE round = #{round} AND member_id = #{member_id}
    </select>
    
    <!-- 결과값 가져오기 -->
    <select id="rain_getResult" resultType="int">
    	SELECT * FROM raindrop_result WHERE round = #{round} AND member_id = #{member_id}
    </select>
	<!-- ***** RAINDROP  ***** -->
	<!-- ***** RAINDROP  ***** -->
	<!-- ***** DROPTOP  ***** -->
	<!-- ***** DROPTOP  ***** -->
	<!-- DROPTOP 추첨번호 저장 -->
    <insert id="top_list_saving">
		INSERT INTO droptop_list(member_id, num1, num2, num3, num4, num5, num6, in_date, round, sum, round_id) 
		VALUES(#{member_id}, #{saving1}, #{saving2}, #{saving3}, #{saving4}, #{saving5}, #{saving6}, now(), #{round}, #{ranSum}, #{round_id});
	</insert>
    
    <!-- 중복 추첨 체크 -->
	<select id="top_Check" resultType="int">
		SELECT COUNT(*) FROM droptop_list WHERE round = #{round} AND member_id = #{member_id};
	</select>
	
	<!-- 회차별 총 게임수 -->
	<select id="top_roundTotal" resultType="int">
		SELECT count(round_id) FROM droptop_list WHERE round = #{round} AND member_id = #{member_id};
	</select>
	
	<!-- 모의추첨 번호가져오기 -->
	<select id="top_roundData" resultType="dev.drop.models.invest.dto.SaveListDTO">
        SELECT * FROM droptop_list WHERE round_id = #{i} AND round = #{round} AND member_id = #{member_id};
    </select>
    
    <!-- 모의로또 등수 저장 -->
	<insert id="top_saveRanking">
		INSERT INTO droptop_result(member_id, round, rank01, rank02, rank03, rank04, rank05, game_total, revenue_total, revenue_after_tax, in_date) 
		VALUES(#{member_id}, #{round}, #{rank01}, #{rank02}, #{rank03}, #{rank04}, #{rank05}, #{total}, #{revenue_total}, #{after_tax}, now());
	</insert>
	
	<!-- 저장된 회차 round_id 갯수 가져오기 -->
    <select id="top_roundIdGet" resultType="int">
    	SELECT count(*) FROM droptop_list WHERE round = #{round} AND member_id = #{member_id};
    </select>
    
    <!-- 결과 저장 확인 -->
    <select id="top_resultCheck" resultType="int">
    	SELECT count(*) FROM droptop_result WHERE round = #{round} AND member_id = #{member_id}
    </select>
    
    <!-- 결과값 가져오기 -->
    <select id="top_getResult" resultType="int">
    	SELECT * FROM droptop_result WHERE round = #{round} AND member_id = #{member_id}
    </select>
	<!-- ***** DROPTOP  ***** -->
	
	
	
	<!-- ***** COMMON  ***** -->
	<!-- 회원 ID 가져오기 -->
	<select id="get_memberId" resultType="int">
		SELECT id FROM member WHERE email = #{user_email};
	</select>
	
	<!-- 마지막 회차 저장 위한 id값 -->
    <select id="LastNum" resultType="int">
    	SELECT max(id) FROM prize_list;
    </select>
    
	<!-- ***** COMMON  ***** -->
	
	
	
</mapper>