/* jackpot, boxmain common css start*/
.header_img {
	margin-top: 1%;
}
.returnSuccess {
	margin-top: 10px;
}
.selectBox {
	margin-top: 10px;
	width: 30%;
}

/* input 2개 정렬 */
.set_2 {
	overflow: hidden;
	margin-top: 10px;
}
.input_2 {
	margin-right: 1%;
	float: left;
	width: 49.5%;
}
.input_2:last-child {
	margin-right: 0;
}

/* input 3개 정렬 */
.set_3 {
	overflow: hidden;
	margin-top: 10px;
}
.input_3 {
	margin-right: 0.5%;
	float: left;
	width: 33%;
}
.input_3:last-child {
	margin-right: 0;
}

/* input 4개 정렬 */
.set_4 {
	overflow: hidden;
	margin-top: 10px;
}
.input_4 {
	margin-right: 1%;
	float: left;
	width: 24%;
}
.input_4:last-child {
	margin-right: 0;
}

/* 카드 2개 정렬 */
.cardSet2{
	overflow: hidden;
}
.card.card2 {
	margin-right: 1%;
	float: left;
	width: 49.5%;
}
.card.card2:last-child {
    margin-right: 0;
}

/* 카드 3개 정렬 */
.cardSet3{
	overflow: hidden;
	margin-top: 10px;
}
.card.card3 {
	margin-right: 0.5%;
	float: left;
	width: 33%;
}
.card.card3:last-child {
    margin-right: 0;
}

/* 카드 4개 정렬 */
.cardSet4{
	overflow: hidden;
	margin-top: 10px;
}
.card.card4 {
	margin-right: 1.33%;
	float: left;
	width: 24%;
}
.card.card4:last-child {
    margin-right: 0;
}
/* last-child 안먹힐때 */
.card.card4:nth-child(4) {
    margin-right: 0;
}

/* jackpot, boxmain common css end*/

/* jackpot page css */
/* jackpot page css */

/* boxmain page css */
/* boxmain page css */


