@charset "utf-8";
.bg {
background-image:url("/static/images/RAINDROP.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    width: 100%;
    height: 1000px;
}
.sign_container {
    padding-top: 7%;
}
.sign_card {
    max-width: 500px;
    padding:15px;
    margin: 0 auto;
}


