<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link href="/static/css/header.css" rel="stylesheet" type="text/css">
<head th:fragment="fragment-header">
	<meta charset="UTF-8">

<!--	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no , target-densitydpi=medium-dpi">-->
	
	<title>TEST</title>
	<!-- jquery & bootstrap js -->
	<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
	<script src="/static/js/fragments/header.js" type="text/javascript" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		  rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		  crossorigin="anonymous">
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{'/main'}">RAINDROP</a>
			<div class="collapse navbar-collapse justify-content-end" id="navbarText">
				<ul class="navbar-nav mb-2 mb-lg-0">
					<li class="nav-item" sec:authorize="hasRole('ROLE_MEMBER')"><a
						class="nav-link" aria-current="page" href="/member/info">MY PAGE</a>
					</li>
					<li class="nav-item" sec:authorize="hasRole('ROLE_MEMBER')">
						<a class="nav-link" href="/invest/raindrop">RAINDROP</a>
					</li>
					<li class="nav-item" sec:authorize="hasRole('ROLE_MEMBER')">
						<a class="nav-link" href="/invest/droptop">DROPTOP</a>
					</li>

					<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="nav-link" aria-current="page" href="/admin/index">ADMIN PAGE</a>
					</li>
					<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="nav-link" aria-current="page" href="/admin/imitation">DATA</a>
					</li>
					<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="nav-link" aria-current="page" href="/admin/member_list">MEMBER</a>
					</li>
	
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<a class="nav-link" href="/member/logout">SIGN OUT</a>
					</li>
	
					<li class="nav-item" sec:authorize="isAnonymous()">
						<a class="nav-link" aria-current="page" href="/member/signin">SIGN IN</a>
					</li>
					<li class="nav-item" sec:authorize="isAnonymous()">
						<a class="nav-link" href="/member/signup">SIGN UP</a>
					</li>
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<a class="nav-link"><span sec:authentication="name" id="userCheck"></span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</head>
</html>