<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link href="/static/css/reset.css" rel="stylesheet" type="text/css">
<head th:fragment="fragment-header">
<title>TEST</title>
<!-- jquery & bootstrap js -->
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no , target-densitydpi=medium-dpi">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" th:href="@{'/main'}">RAINDROP</a>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item" sec:authorize="hasRole('ROLE_MEMBER')"><a
					class="nav-link" aria-current="page" href="/member/info">마이페이지</a>
				</li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_MEMBER')">
					<a class="nav-link" href="/invest/jackpot">RAIN</a>
				</li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_MEMBER')">
					<a class="nav-link" href="/invest/boxMain">DROP</a>
				</li>

				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
					<a class="nav-link" aria-current="page" href="/member/admin">관리자 페이지</a>
				</li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
					<a class="nav-link" aria-current="page" href="/invest/imitation">데이터 관리</a>
				</li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
					<a class="nav-link" aria-current="page" href="/member/admin_list">회원관리</a>
				</li>

				<li class="nav-item" sec:authorize="isAuthenticated()">
					<a class="nav-link" href="/member/logout">로그아웃</a>
				</li>

				<li class="nav-item" sec:authorize="isAnonymous()">
					<a class="nav-link" aria-current="page" href="/member/signin">로그인</a>
				</li>
				<li class="nav-item" sec:authorize="isAnonymous()">
					<a class="nav-link" href="/member/signup">회원가입</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated()">
					<a class="nav-link"><span sec:authentication="name" id="userCheck"></span>님 환영</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</head>
</html>