<link href="/static/css/invest/invest_common.css" rel="stylesheet" type="text/css">
<script src="/static/js/invest/invest_common.js" type="text/javascript" defer></script>
<div class="container common">
	<div id="carouselExampleSlidesOnly" class="carousel slide header_img" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="/static/images/test.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="/static/images/test.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="/static/images/test.jpg" class="d-block w-100" alt="...">
			</div>
		</div>
	</div>
	<div class="cardSet3">
		<input type="text" id="dropCheck" value="not" />
		<div class="card border-secondary mb-3 card3">
			<div class="card-header">타이틀1</div>
			<div class="card-body text-dark">
				<h5 class="card-title"><span id="userPoint"></span></h5>
				<p class="card-text">내용1</p>
			</div>
		</div>
		<div class="card border-secondary mb-3 card3">
			<div class="card-header">타이틀2</div>
			<div class="card-body text-dark">
				<h5 class="card-title"><span id="userCoin"></span></h5>
				<p class="card-text">내용하단</p>
			</div>
		</div>
		<div class="card border-secondary mb-3 card3">
			<div class="card-header">타이틀3</div>
			<div class="card-body text-dark">
				<h5 class="card-title">뭐넣지 흠</h5>
				<p class="card-text">내용하단</p>
			</div>
		</div>
	</div>
	
