<div class="container common">
	<div class="cardall">
		<div class="card card1">
			<div class="card-header">타이틀1</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">내용1</li>
			</ul>
		</div>
		<div class="card card1">
			<div class="card-header">타이틀2</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">내용2</li>
			</ul>
		</div>
		<div class="card card1">
			<div class="card-header">타이틀3</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">내용3</li>
			</ul>
		</div>
	</div>
	
