<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>RINDROP</title>
	<!-- link inculde -->
	<th:block th:include="common/script"></th:block>
	<!-- link inculde -->
</head>
<body>
	<br />
	<div style="text-align:center;">
		<h5 class="card-title">회원 리스트</h5>
	</div>
	<div th:each="list : ${list}" class="col-md-6 col-lg-4 mb-5">
		<div class="card">
			<div class="card-body">
				<span th:text="${list.name}"></span><br />
				<span th:text="${list.email}"></span>
			</div>
		</div>
	</div>
	<div style="text-align:center;">
		<a th:href="@{'/member/signin/result'}">메인으로 이동</a>
	</div>
</body>
</html>