<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>RINDROP</title>
	<!-- link inculde -->
	<th:block th:include="common/script"></th:block>
	<!-- link inculde -->
</head>

<body>
	<div class="card">
		<div class="card-body" style="text-align:center;">
			<h5 class="card-title">관리자 페이지</h5>
			<div class="card">
				<div class="card-body" style="text-align:center;">
					<a th:href="@{'/invest/imitation'}">모의테스트</a>
				</div>
			</div><br />
			<div class="card">
				<div class="card-body" style="text-align:center;">
					<a th:href="@{'/member/admin_list'}">회원리스트</a>
				</div>
			</div>
			<br />
			<div style="text-align:center;">
			    <a th:href="@{'/member/signin/result'}">메인으로 이동</a>
		    </div>
    	</div>
    </div>
</body>
</html>