<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>RINDROP</title>
	<!-- link inculde -->
	<th:block th:include="fragments/header"></th:block>
	<!-- link inculde -->
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<div style="text-align: center;">
					<h5 class="card-title">회원 리스트</h5>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">NAME</th>
							<th scope="col">E-mail</th>
							<th scope="col">Phone</th>
						</tr>
					</thead>
					<tbody th:each="memberList, num:${list}">
						<tr>
							<th scope="row"><span th:text="${num.count}"></span></th>
							<td><span th:text="${memberList.name}"></span></td>
							<td><span th:text="${memberList.email}"></span></td>
							<td><span th:text="${memberList.phone}"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<th:block th:include="fragments/footer"></th:block>
</html>