<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/static/css/member/sign.css">
<head>
	<meta charset="UTF-8">
	<title>RINDROP</title>
	<!-- link inculde -->
	<th:block th:include="fragments/header"></th:block>
	<!-- link inculde -->
</head>

<body>
	<div class="bg">
		<div class="container sign_container">
			<div class="card sign_card">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<form class="form-signin" name="fm" th:action="@{/member/signin}" method="POST" onsubmit="return SigninSubmit();">
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
						<span form-signin-heading>회원님 타입을 선택하세요</span>
						<div style="float:right;">
							<input type="radio" id="type1" name="type" value="1">일반 &nbsp;
							<input type="radio" id="type2" name="type" value="2">관리자
						</div><br /><br />
						<label for="email" class="sr-only">Email address</label>
						<input type="email" name="username" id="email" placeholder="Email Address" class="form-control">
						<label for="password" class="sr-only">password</label>
						<input type="password"  autocomplete="false" style="display:none">
						<input type="password" name="password" id="password" placeholder="비밀번호" class="form-control" autocomplete="new-password">
						<br />
						<div style="text-align: center;">
							<button type="submit" id="loginBtn" class="btn btn-lg btn-success btn-block" style="width:80%;"> 로그인</button>
						</div>
					</form>
					<br />
					<a th:href="@{'/member/signup'}">회원가입</a>
					<a th:href="@{'/main'}">메인으로</a>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="/static/js/member/signin.js"></script>
</html>
